.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

/* one way to change colors */

button {
  margin-top: 20px;
  width: 50%;
  background-color: #4ecca3;
}
.btn {
  --bs-btn-active-bg: #4ecca3;
  --bs-btn-active-border-color: #4ecca3;
  color: #4ecca3;
  border-color: #4ecca3;
}

:hover.btn {
  color: rgb(0, 0, 0);
  border-color: #4ecca3;
  background-color: #4ecca3;
}

/* better way */
/* button {
  margin-top: 20px;
  width: 50%;
  background-color: ;
}
.btn-outline-info,
.btn-outline-info:visited {
  color: #4ecca3;
  border-color: #4ecca3 !important;
  background-color: transparent;
}

.btn-outline-info:active,
.btn-outline-info:hover {
  color: rgb(0, 0, 0);
  border-color: #4ecca3;
  background-color: #4ecca3 !important;
} */
